<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>ReprogramaBr - Nome Sobrenome</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="shortcut icon" type="image/png" href="https://www.reprograma.com.br/assets/img/favicon.ico"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/student.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/common.css">
</head>
<body>
  <header>
    <a href="../index.html" title="Voltar pra listagem de alunas">
        <i class="header__icon fas fa-arrow-left"></i>
    </a>
    <h1 class="header__title">{reprograma}</h1>
  </header>
  <main>
    <section class="intro">
      <h2 class="name">Nome Sobrenome</h2>
      <a href="mailto:nome_sobrenome@exemple.com" id="email">nome@exemple.com</a>
      <div class="intro__icons">      
        <a href="https://github.com/nome_sobrenome" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/nome_sobrenome/" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
    </section>
    <section class="objetivos">
        <h3 class="titles">O que eu quero</h3>
        <div class="main__paragraph">
            <p>...</p>
        </div>
    </section>
    <section class="sobre">
      <h3 class="titles">Um pouco sobre mim</h3>
      <div class="main__paragraph">
          <p>...</p>
      </div>
    </section>
    <div class="grid">
      <section class="experiencia">
        <h3 class="titles">No que já trabalhei</h3>
        <div class="main__card">
            <h4>Nome da Empresa / Nome do projeto</h4>
            <h5>Subtitulo / Duração / Data</h5>
            <p>...</p>
            <!-- Se tiver link incluir linha abaico -->
            <a href="https://site.com/">https://site.com/</a>
        </div>
        
        <div class="main__card">
            <h4>Nome da Empresa / Nome do projeto</h4>
            <h5>Subtitulo / Duração / Data</h5>
            <p>...</p>
            <!-- Se tiver link incluir linha abaico -->
            <a href="https://site.com/">https://site.com/</a>
        </div>
        
      </section>
      <section class="formacao">
        <h3 class="titles">O que já estudei</h3>
        <div class="main__card">
            <h4>Nome da Instituição</h4>
            <h5>Nome do curso / Duração / Data</h5>
            <p>...</p>
            <!-- Se tiver link incluir linha abaico -->
            <a href="https://site.com/">https://site.com/</a>
        </div>
        
        <div class="main__card">
            <h4>Nome da Instituição</h4>
            <h5>Nome do curso / Duração / Data</h5>
            <p>...</p>
            <!-- Se tiver link incluir linha abaico -->
            <a href="https://site.com/">https://site.com/</a>
        </div>
      </section>
      <section class="extra">
        <h3 class="titles">Meus outros aprendizados e interesses</h3>
        
        <div class="main__card">
            <h4>Nome da Instituição</h4>
            <h5>Nome do curso / Duração / Data</h5>
            <p>...</p>
            <!-- Se tiver link incluir linha abaico -->
            <a href="https://site.com/">https://site.com/</a>
        </div>
    
        <div class="main__card">
            <h4>Nome da Instituição</h4>
            <h5>Nome do curso / Duração / Data</h5>
            <p>...</p>
            <!-- Se tiver link incluir linha abaico -->
            <a href="https://site.com/">https://site.com/</a>
        </div>
    
      </section>
      <section class="habilidades">
        <h3 class="titles">No que me destaco</h3>
        <div class="habilidades_lista">

            <div class="skill">
                <span class="skill-name">UX DESIGN</span>
                <div class="points">
                    <div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div>
                    <div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div>
                </div>
            </div>
        
            <div class="skill">
                <span class="skill-name">FIGMA</span>
                <div class="points">
                    <div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div>
                    <div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div>
                </div>
            </div>
        
            <div class="skill">
                <span class="skill-name">HTML</span>
                <div class="points">
                    <div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div>
                    <div class="point"></div><div class="point"></div><div class="point"></div>
                </div>
            </div>
        
            <div class="skill">
                <span class="skill-name">CSS</span>
                <div class="points">
                    <div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div>
                    <div class="point"></div><div class="point"></div><div class="point"></div>
                </div>
            </div>
        
            <div class="skill">
                <span class="skill-name">RESPONSIVIDADE</span>
                <div class="points">
                    <div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div>
                    <div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div>
                </div>
            </div>
        
            <div class="skill">
                <span class="skill-name">BOOTSTRAP</span>
                <div class="points">
                    <div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div>
                    <div class="point"></div><div class="point"></div><div class="point"></div>
                </div>
            </div>
        
            <div class="skill">
                <span class="skill-name">JAVASCRIPT</span>
                <div class="points">
                    <div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div>
                    <div class="point"></div><div class="point"></div><div class="point"></div>
                </div>
            </div>
        
            <div class="skill">
                <span class="skill-name">JQUERY</span>
                <div class="points">
                    <div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div>
                    <div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div>
                </div>
            </div>
        
            <div class="skill">
                <span class="skill-name">NODE</span>
                <div class="points">
                    <div class="point has-point"></div>
                    <div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div>
                </div>
            </div>
        
            <div class="skill">
                <span class="skill-name">GIT/GITHUB</span>
                <div class="points">
                    <div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div>
                    <div class="point"></div><div class="point"></div><div class="point"></div>
                </div>
            </div>
        
            <div class="skill">
                <span class="skill-name">REACT</span>
                <div class="points">
                    <div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div>
                    <div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div>
                </div>
            </div>
        
            <div class="skill">
                <span class="skill-name">METODOLOGIAS ÁGEIS</span>
                <div class="points">
                    <div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div>
                    <div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div>
                </div>
            </div>
        
            <div class="skill">
                <span class="skill-name">TECNOLOGIA ASSISTIVAS</span>
                <div class="points">
                    <div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div>
                    <div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div>
                </div>
            </div>
        
            <div class="skill">
                <span class="skill-name">SASS</span>
                <div class="points">
                    <div class="point has-point"></div>
                    <div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div>
                </div>
            </div>
        
            <div class="skill">
                <span class="skill-name">EXCEL</span>
                <div class="points">
                    <div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div>
                    <div class="point"></div><div class="point"></div><div class="point"></div>
                </div>
            </div>
        
            <div class="skill">
                <span class="skill-name">WORD</span>
                <div class="points">
                    <div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div>
                    <div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div>
                </div>
            </div>
        
            <div class="skill">
                <span class="skill-name">MARKETING DIGITAL</span>
                <div class="points">
                    <div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div>
                    <div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div>
                </div>
            </div>
        
            <div class="skill">
                <span class="skill-name">PHOTOSHOP</span>
                <div class="points">
                    <div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div>
                    <div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div>
                </div>
            </div>
        
            <div class="skill">
                <span class="skill-name">ILUSTRATOR</span>
                <div class="points">
                    <div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div>
                    <div class="point"></div><div class="point"></div><div class="point"></div>
                </div>
            </div>
        
            <div class="skill">
                <span class="skill-name">ESPANHOL</span>
                <div class="points">
                    <div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div><div class="point has-point"></div>
                    <div class="point"></div><div class="point"></div>
                </div>
            </div>
        </div>
      </section>
    </div>
  </main>
  <footer>
    <div class="footer__container">
      <h3 class="footer__title">The future is female <span class="footer__text--underline">coders.</span></h3>
      <div class="footer__social">
          <div class="footer__icons">
              <a href="https://instagram.com/reprogramaBR" target="_blank"><i class="fab fa-instagram"></i></a>
            
              <a href="https://facebook.com/ReprogramaBr" target="_blank"><i class="fab fa-facebook-square" aria-hidden="true"></i></a>
  
              <a href="https://twitter.com/ReprogramaBr" target="_blank"><i class="fab fa-twitter-square"></i></a>
  
              <a href="https://www.linkedin.com/company/reprogramabr" target="_blank"><i class="fab fa-linkedin"></i></a>
  
              <a href="mailto:info@reprograma.com.br?Subject=Olá!" target="_top"><i class="fas fa-envelope"></i></a>
          </div>
          <p class="footer__text">Avenida Paulista, 1374 <br>
          São Paulo - SP, Brasil</p>
          <img class="footer__logo" alt="logo da reprograma" src="../assets/img/logo-fundoclaro.png">
      </div>
    </div>
  </footer>
</body>
</html>

